extends layout.pug

block content
  main
    p This is very simple note taking app
    p You can create notes, delete them, archive notes
    p Supports markdown
    a.create-btn(href='/notes/create') Create note
