extends layout.pug

block content 
  main.notes-main
    ul.notes
      each note in notes
        li.note-item
          a(href='notes/note_id')= note.title
          a.delete-note(href='notes/note_id/delete') Delete

        
      
